body{
  margin: 0;
  padding: 0;
  background-color: #e6e8eb;
  font-family: 'lucida grande', tahoma, san francisco, roboto, segoe UI
}

#barra {
  height: 43px;
  background-color: #395ca9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

#contenidor {
  height: 3000px;
  width: 850px;
  background-color: #FFF;
  margin: 0 auto;
  overflow: hidden;
}

#portada {
  height: 204px;
  background-image: url(img/portada.jpg);
  margin-top: 43px;
}

#nom {
  width: 320px;
  top: 160px;
  left: 210px;
  position: relative;
  color: #FFF;
  text-shadow: 0 0 5px #000;
  margin: 0;
}

#perfil {
  border: solid 4px white;
  border-radius: 4px;
  position: relative;
  left: 17px;
  top: 33px;
  box-shadow: 0 0 10px #333;
}

#menu{
  height: 44px;
  background-color: #e6e8eb;
  padding: 0;
  margin: 4px 0 0 192px;
  width: 477px;
}

#menu li {
  float: left;
  padding: 0 18px;
  display: block;
  font-weight: bold;
  color: #395ca9;
  background-color: #FFF;
  margin: 0 0 0 1px;
  height: 44px;
  line-height: 44px;
}

#menu li:hover {
  color: #000;
  background-image: url(img/selector.gif);
  background-repeat: no-repeat;
  background-position: 50% 37px;
}

#contingut {
  border-top: solid 1px #e6e8eb;
}

.esquerra {
  width: 323px;
  margin: 10px 0;
  border: solid 1px #CCC;
  border-radius: 3px;
  float: left;
  clear: left;
}

.dreta {

  width: 513px;
  margin: 10px 0;
  border: solid 1px #CCC;
  border-radius: 3px;
  float: right;
  position: relative;
  top: -538px;
  overflow: hidden;
}

.esquerra h4 {
  height: 15px;
  padding: 5px;
  font-weight: normal;
  font-size: 18px;
  text-indent: 36px;
  background-image: url(img/lateral.png);
  background-repeat: no-repeat;
  background-position: 10px 1px;
  margin: 5px;
}

#fotos h4 {
  background-position: 0 -24px;
}

#fotos li{
  display: block;
}

#amics h4 {
  background-position: 0 -48px;
}

#amics li{
  display: block;
}

.vivir {list-style-image: url(icon/icones_domicili.png);}

.trabajo {list-style-image: url(icon/icones_feina.png);}

.yo {list-style-image: url(icon/cercles.png);}

#fotos ul li {
  display: block;
  width: 99px;
  height: 99px;
  margin: 4px;
  float: left;
  background-size: 99px 99px;
  color: transparent;
}

#fotos ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.esquerra ul{
  margin-top: 20px;
}

#f1 {background-image: url(img/f1.jpg);}
#f2 {background-image: url(img/f2.jpg);}
#f3 {background-image: url(img/f3.gif);}
#f4 {background-image: url(img/f4.jpeg);}
#f5 {background-image: url(img/f5.jpg);}
#f6 {background-image: url(img/f6.jpg);}
#f7 {background-image: url(img/f7.gif);}
#f8 {background-image: url(img/f8.jpg);}
#f9 {background-image: url(img/f9.gif);}


#amics ul li {
  display: block;
  width: 99px;
  height: 99px;
  margin: 4px;
  float: left;
  background-size: 99px 99px;
  color: white;
  text-align: center;
  text-shadow: 0 0 3px black;
  text-indent: 5px;
  line-height: 178px;
}

#amics ul {
  overflow: hidden;
  margin: 0px;
  padding: 0;
}

#a1 {background-image: url(https://zruiz2018.github.io/MP08/s2m8uf103_ruiz/img/perfil.jpg);}
#a2 {background-image: url(https://amoreno2018.github.io/MP08/s2m8uf103_moreno/img/perfil.jpg);}
#a3 {background-image: url(https://rgarcial2018.github.io/MP08/s2m8uf103_garcia/img/perfil.jpg);}
#a4 {background-image: url(https://jsanchez2018.github.io/MP08/s2m8uf103_sanchez/img/perfil.jpg);}
#a5 {background-image: url(https://jsagrera2018.github.io/MP08/s2m8uf103_sagrera/img/perfil.jpg);}
#a6 {background-image: url(https://kbaquerizo2018.github.io/MP08/s2m8uf103_baquerizo/img/perfil.jpg);}
#a7 {background-image: url(https://fxolle2018.github.io/MP08/s2m8uf103_olle/img/perfil.jpg);}
#a8 {background-image: url(https://amanchon2018.github.io/MP08/s2m8uf103_manchon/img/perfil.jpg);}
#a9 {background-image: url(https://calvarez2018.github.io/MP08/s2m8uf103_alvarez/img/perfil.jpg);}
#a10 {background-image: url(https://aganoza2018.github.io/MP08/s2m8uf103_ganoza/img/perfil.jpg);}
#a11 {background-image: url(https://acalvo2018.github.io/MP08/s2m8uf103_calvo/img/perfil.jpg);}
#a12 {background-image: url(https://kvera2018.github.io/MP08/s2m8uf103_vera/img/perfil.jpg);}
#a13 {background-image: url(https://mpanchame2018.github.io/MP08/s2m8uf103_panchame/img/perfil.jpg);}
#a14 {background-image: url(https://jricart2018.github.io/MP08/s2m8uf103_ricart/img/perfil.jpg);}
#a15 {background-image: url(https://sestall2018.github.io/MP08/s2m8uf103_estall/img/perfil.jpg);}
#a16 {background-image: url(https://ielmajidi2018.github.io/MP08/s2m8uf103_elmajidi/img/perfil.jpg);}
#a17 {background-image: url(https://npedraza2018.github.io/MP08/s2m8uf103_pedraza/img/perfil.jpg);}
#a18 {background-image: url(https://rtirado2018.github.io/MP08/s2m8uf103_tirado/img/perfil.jpg);}






#pensa ul{
  background-color: #f5f6f8;
  height: 40px;
  margin: 0;
  padding: 0;
  color: #395ca9;
}

#pensa ul li{
  float: left;
  margin: 5px 10px 0 35px;
  border-right: solid 1px grey;

}

#pensa ul li a{
  display: block;
  height: 35px;
}

#pensa ul li a:hover{
  color: #000;
  background-image: url(img/selector.gif);
  background-repeat: no-repeat;
  background-position: 35% 26px;
}

#pensa input{
  width: 509px;
  height: 40px;
  border-radius: 3px;
  border: solid 1px grey;
}

.estado {list-style-image: url(img/estado.png);}
.video {list-style-image: url(img/video.png);}
.directo {list-style-image: url(img/directo.png);}

/*-----muro----*/

h5{
  font-style: normal;
  font-weight: normal;
  margin: 0;
  height: 10px;
  padding: 5px;
}

h6{
  font-style: normal;
  font-weight: normal;
  margin: 0;
  height: 10px;
  padding: 5px;
}

.aaa {
padding: 10px 10px 10px 50px;
background-image: url(img/perfil.jpg);
background-repeat: no-repeat;
background-size: 40px 40px;
background-position: 10px 10px;
}

.post p, .post iframe, .post img {
  font-size: 12px;
  text-align: justify;
  padding: 10px;
  width: 493px;
}
